.product {
}

.product-image {
  $border-width: $spacer / 2;

  position: relative;
  height: 0;
  padding-bottom: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    //border: $border-width solid $gray-lighter;
    background: $body-bg url(brown-background.jpg) center no-repeat;
    border-radius: 50%;
    box-shadow: $btn-box-shadow;
  }

  img {
    position: absolute;
    top: 15%;
    //right: 0;
    //bottom: 0;
    left: 15%;
    z-index: 1;
    display: block;
    width: 70%;
    height: 70%;
    object-fit: contain;
    object-position: center;
  }
}
