<h1><%= t('edit.edit') %></h1>

<%= render 'form', ingredient: @ingredient %>

<%= link_to t('edit.show'), @ingredient, class: 'btn btn-secondary' %>
<%= link_to t('edit.back'), ingredients_path, class: 'btn btn-link' %>
